@use 'src/styles/vars';

.footer {
  background-color: vars.$lightColor;
  color: vars.$mainColor;
  padding: vars.$gutter * 2;
  .footer-number {
    font-size: 2.5em;
    font-weight: vars.$fwBold;
    
  }
  .footer-currency {
    margin: vars.$gutter;
    font-size: 1.5em;
  }
}
